
<footer>
  <div class="container-fluid">
    <div class="row wrapper-footer justify-content-center">
      <div class="col-sm-4 col-11 d-flex  justify-content-sm-end justify-content-center">
        <img src="img/logo-footer.png" class="img-fluid" alt="Eletroguara Logotipo">
      </div>
      <div class="col-sm-4 col-11">
        <div class="d-flex flex-column justify-content-sm-center align-items-sm-start justify-content-center align-items-center ">
          <span class="redes-sociais">redes sociais</span>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://www.facebook.com/elwmateriaiseletricos/" target="_blank"><img src="img/facebook.webp" alt="Facebook"></a>
            <a href="https://www.instagram.com/eletroguara_eg/"  target="_blank"><img src="img/instagram.webp" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <span class="direitos-reservados d-flex justify-content-center">Todos direitos reservados ELETROGUARA Materiais Elétricos - <a href="https://www.orions.com.br/"  target="_blank">Desenvolvido por Orions</a></span> 
      </div>
    </div>
  </div>

  <a href="https://api.whatsapp.com/send?phone=+5512996060532" class="btn-whatsapp" target="_blank">
    <i class="fab fa-whatsapp float-whatsapp"></i>
  </a>

  <script src="js/owl.carousel.min.js"></script>
  
</footer>