
<header>
  <div class="container-fluid wrapper-nav">
      <div class="row">
          <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid wrapper-menu my-2">
              <a class="navbar-brand " href="#"><img src="img/mini-logo.webp" alt=""></a>
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-center" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="quemsomos.html">Quem Somos</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="produtos.html">Produtos</a>
                  </li>               
                  <li class="nav-item">
                    <a class="nav-link" href="servicos.html">Serviços</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="contato.html">Contato</a>
                  </li>                        
                </ul>                  
              </div>
            </div>
          </nav>
      </div>
  </div>

</header>